* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.header-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-height: 100px;
  margin-bottom: 2rem;
}

h1 {
  color: #F9F4DA;
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  color: #8E8E8E;
}
.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  min-width: 80%;
  min-height: 95px;
  padding: 20px;
}

.status-container-won {
    background-color: #10A95B;
}

.status-container-lost {
  background-color: #BA2A2A;
}

.status-container.farewell {
  background-color: #7A5EA7;
}

.status-container * {
  color: #F9F4DA;
  font-weight: 500;
  margin: 1px 0px;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  margin: 2rem 0rem;
  max-width: 60%;
}

.chips {
  padding: 10px;
  border-radius: 3px;
  font-weight: 700;
  position: relative;
}

.chips.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.letter {
  display: inline-block;
  vertical-align: middle;
  color: #F9F4DA;
  background-color: #323232;
  font-weight: 700;
  font-size: 3rem;
  padding: 10px 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #F9F4DA;
  margin: 1rem 3px;
  min-width: 75px;
  min-height: 75px;
}

.keyboard-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 3rem 0rem 2rem;
  max-width: 80%;
}

.keyboard {
  width: 80px;
  height: 65px;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 10px;
  text-transform: uppercase;
  border: 1px solid #D7D7D7;
  cursor: pointer;
}

.correct {
  background-color: #10A95B;
}

.incorrect {
  background-color: #EC5D49;
}

.not-guessed {
  background-color: #FCBA29;
}

button.new-game {
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 225px;
  min-height: 50px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}
